%p.lead You currently have the preview feature disabled.
= form_tag "/a/preview", remote: true, class: "form-inline" do
  %span.help-block Click to enable preview
  = submit_tag 'Enable', class: "btn btn-success btn-primary"
%p.muted The preview feature requires cookies to be enabled in your web browser.