- title("About")
%p.lead
  li.nq service offers a very simple but surprisingly useful feature,
  it turns long URL into a tiny one.
%p
  I know it's just another TinyURL service, but the goal of reinventing the wheel
  was to learn more about URL shorteners and build a TinyURL, bitly, you name clone in Ruby on Rails
  using Haml, CoffeeScript, SaaS, Redis and all that fancy stuff you know. The project is hosted on
  %a{:href => "https://github.com/okean/li.nq"} GitHub
  so feel free to check it out. And yep, the design
  is build upon
  = succeed "." do
    %a{:href => "http://twitter.github.io/bootstrap/"} Twitter Bootstrap
%br
%address
  %strong Oleg Kean
  %br
  View my profile on
  %a{:href => "http://www.linkedin.com/pub/oleg-kean/50/241/724"} LinkedIn
  %br
  %a{:href => "mailto:#"} oleg.kean@gmail.com