<div class="jumbotron">
  <h1>Super awesome marketing speak!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, 
    egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor 
    mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <%= render partial: 'home/form' %>
  <div class="shorten_url alert alert-info" style="display: none">
  </div>
</div>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Short URLs</h4>
    <p>Create short and easy to remember URLs. The most obvious benefit of having it is that it's, well, short.</p>
  </div>

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
  </div>
</div>