<div class="preview-header">
  <h1 class="text-info">
    Preview of <%= root_url + @link.identifier %>
  </h1>
</div>

<p class="lead">
  This li.nq redirects to: <%= @link.url.original %>
</p>

<p>
  Proceed to this <%= link_to "site", @link.url.original %>.
</p>

<hr/>

<%= render 'shared/preview_form' %>