// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-info {
    color: #3A87AD;
}

.preview-header {
    margin: 18px 0;
    padding-bottom: 17px;
}