<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <%= tab "Home", root_path %>
    <%= tab "Preview", preview_index_path %>
    <%= tab "Links", links_path %>
    <%= tab "About", about_path %>
  </ul>
  <h3 class="muted">li.nq</h3>
</div>
<hr>